
doctype html
head
    title User 
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
.container
    h2.text-center Users List
    a(href="/users/create" class="btn btn-primary ") Add New
    .datatable-scroll
        table.table
            thead
                tr
                    th ID
                    th Name
                    th Phone
                    th Email
                    th Balance
                    th Action
            tbody
                each student in getUser
                    tr
                        td=student.id
                        td=student.name
                        td=student.phone
                        td=student.email
                        td=student.balance + ' $'
                        td
                            
                            a.ml-3(href="/transfer/create/"+student.id class='btn btn-primary') Make Transaction
                            a(href="/transfer/"+student.id class='btn btn-info') Transaction history
                            //- a(href="/students/edit/" +student.id class='btn btn-primary') Edit
                            //- a(href="/students/delete/"+student.id ) 
                            //- button.btn.btn-danger(type='submit') Delete
      
    //- .datatable-footer
        #DataTables_Table_0_paginate.dataTables_paginate.paging_simple_numbers
        -var i = 1;  
            nav(aria-label='Page navigation example')
                ul.pagination
                    li.page-item
                        a.page-link(href='#') Page:
                            span= Page
                            
                    li.page-item
                        a.page-link(href='/students/?page='+(i-1+i)  aria-label='Previous')
                            span(aria-hidden='true') &laquo;
                            span.sr-only Previous
                    li.page-item
                        a.page-link(href='/students/?page='+(+page+i)  aria-label='Next')
                            span(aria-hidden='true') &raquo;
                            span.sr-only Next


